# In this notebook we seperate each city's database

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv(r'I:\My Drive\Data Science\Sri Vipra\Code\df_cleaned_master.csv', parse_dates=['Date']) #Load the df_cleaned_master file we created in the raw_data_processing notebook

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25627 entries, 0 to 25626
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        25627 non-null  object
 1   Date        25627 non-null  datetime64[ns]
 2   PM2.5       24884 non-null  float64
 3   PM10        18331 non-null  float64
 4   NOx         23639 non-null  float64
 5   NH3         18878 non-null  float64
 6   CO          25195 non-null  float64
 7   SO2         25083 non-null  float64
 8   O3          24850 non-null  float64
 9   AQI         25627 non-null  float64
 10  AQI_Bucket  25627 non-null  object
dtypes: datetime64[ns](1), float64(8), object(2)
memory usage: 2.2+ MB

In [2]:
distinct_values = df['City'].unique()

print(distinct_values)

['Delhi' 'Ahmedabad' 'Bengaluru' 'Lucknow' 'Chennai' 'Hyderabad' 'Patna'
 'Gurugram' 'Visakhapatnam' 'Amritsar' 'Jorapokhar' 'Thiruvananthapuram'
 'Jaipur' 'Amaravati' 'Brajrajnagar' 'Talcher' 'Kolkata' 'Mumbai'
 'Guwahati' 'Coimbatore' 'Shillong' 'Chandigarh' 'Bhopal' 'Ernakulam'
 'Kochi' 'Aizawl']

In [3]:
# Create an empty dictionary to store the dataframes
city_dataframes = {}

# Loop through the distinct city names and create a dataframe for each city
for city in distinct_values:
    city_dataframes[city] = df[df['City'] == city]  # Use == to filter exact city names

# Now you can access the dataframe for each city using its name
print(city_dataframes['Delhi'].head())  # Example to show the dataframe for Delhi

    City       Date   PM2.5    PM10     NOx     NH3     CO   SO2     O3  \
0  Delhi 2015-01-01  313.22  607.98  110.59   33.85  15.20  9.25  41.68
1  Delhi 2015-01-02  186.18  269.55   88.14   31.83   9.54  6.65  29.97
2  Delhi 2015-01-03   87.18  131.90   47.95   69.55  10.61  2.65  19.71
3  Delhi 2015-01-04  151.84  241.84   48.62  130.36  11.54  4.63  25.36
4  Delhi 2015-01-05  146.60  219.13   38.25  122.88   9.20  3.33  23.20

     AQI AQI_Bucket
0  472.0     Severe
1  454.0     Severe
2  143.0   Moderate
3  319.0  Very Poor
4  325.0  Very Poor

In [4]:
import os
# Directory to save the CSV files
output_dir = r"I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated"  #Enter custom folder path for depending on the environment you're working on

# Ensure the directory exists, and if not, create it
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Loop through the dictionary and save each dataframe as a CSV file
for city, city_df in city_dataframes.items():
    output_file = os.path.join(output_dir, f"{city}_data.csv")  # Create a unique filename for each city
    city_df.to_csv(output_file, index=False)  # Save without the index

    print(f"Exported {city} data to {output_file}")

Exported Delhi data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Delhi_data.csv
Exported Ahmedabad data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Ahmedabad_data.csv
Exported Bengaluru data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Bengaluru_data.csv
Exported Lucknow data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Lucknow_data.csv
Exported Chennai data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Chennai_data.csv
Exported Hyderabad data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Hyderabad_data.csv
Exported Patna data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Patna_data.csv
Exported Gurugram data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Gurugram_data.csv
Exported Visakhapatnam data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Visakhapatnam_data.csv
Exported Amritsar data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Amritsar_data.csv
Exported Jorapokhar data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Jorapokhar_data.csv
Exported Thiruvananthapuram data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Thiruvananthapuram_data.csv
Exported Jaipur data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Jaipur_data.csv
Exported Amaravati data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Amaravati_data.csv
Exported Brajrajnagar data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Brajrajnagar_data.csv
Exported Talcher data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Talcher_data.csv
Exported Kolkata data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Kolkata_data.csv
Exported Mumbai data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Mumbai_data.csv
Exported Guwahati data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Guwahati_data.csv
Exported Coimbatore data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Coimbatore_data.csv
Exported Shillong data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Shillong_data.csv
Exported Chandigarh data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Chandigarh_data.csv
Exported Bhopal data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Bhopal_data.csv
Exported Ernakulam data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Ernakulam_data.csv
Exported Kochi data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Kochi_data.csv
Exported Aizawl data to I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Aizawl_data.csv

## Checking our seperated city files

In [5]:
Gurugram_data = pd.read_csv(r"I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Gurugram_data.csv", parse_dates=['Date'])

In [6]:
Gurugram_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1523 entries, 0 to 1522
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        1523 non-null   object
 1   Date        1523 non-null   datetime64[ns]
 2   PM2.5       1523 non-null   float64
 3   PM10        740 non-null    float64
 4   NOx         1136 non-null   float64
 5   NH3         119 non-null    float64
 6   CO          1476 non-null   float64
 7   SO2         1425 non-null   float64
 8   O3          1488 non-null   float64
 9   AQI         1523 non-null   float64
 10  AQI_Bucket  1523 non-null   object
dtypes: datetime64[ns](1), float64(8), object(2)
memory usage: 131.0+ KB

In [7]:
Gurugram_data

,City,Date,PM2.5,PM10,NOx,NH3,CO,SO2,O3,AQI,AQI_Bucket
0,Gurugram,2016-01-22,120.47,NaN,14.31,NaN,1.41,12.48,3.95,300.0,Poor
1,Gurugram,2016-01-23,87.51,NaN,14.43,NaN,0.45,8.05,13.38,202.0,Poor
2,Gurugram,2016-01-24,106.22,NaN,13.78,NaN,1.52,9.24,1.23,209.0,Poor
3,Gurugram,2016-01-25,82.48,NaN,14.78,NaN,1.16,15.42,16.45,175.0,Moderate
4,Gurugram,2016-01-26,124.33,NaN,15.50,NaN,0.96,9.14,4.05,257.0,Poor
...,...,...,...,...,...,...,...,...,...,...,...
1518,Gurugram,2020-06-27,47.82,158.08,7.24,3.33,0.66,9.18,19.54,121.0,Moderate
1519,Gurugram,2020-06-28,64.72,261.05,8.97,3.43,0.67,7.82,17.28,153.0,Moderate
1520,Gurugram,2020-06-29,46.89,154.00,9.65,3.05,0.57,7.86,36.50,140.0,Moderate
1521,Gurugram,2020-06-30,47.27,114.29,12.08,3.20,0.78,7.36,58.07,131.0,Moderate
1522,Gurugram,2020-07-01,61.64,174.08,12.37,2.91,1.11,7.57,44.14,157.0,Moderate

In [8]:
Shillong_data = pd.read_csv(r"I:\My Drive\Data Science\Sri Vipra\Code\Cities Seperated\Shillong_data.csv", parse_dates = ["Date"])

In [9]:
Shillong_data

,City,Date,PM2.5,PM10,NOx,NH3,CO,SO2,O3,AQI,AQI_Bucket
0,Shillong,2019-08-27,28.43,37.88,1.39,3.66,0.35,4.99,32.93,47.0,Good
1,Shillong,2019-08-28,18.42,26.65,1.33,3.64,0.29,5.15,28.46,37.0,Good
2,Shillong,2019-08-29,18.36,26.11,1.28,3.63,0.31,5.85,33.50,40.0,Good
3,Shillong,2019-08-30,17.45,25.16,1.27,3.65,0.34,5.97,27.85,35.0,Good
4,Shillong,2019-08-31,16.96,25.31,1.29,3.65,0.29,5.86,22.17,32.0,Good
...,...,...,...,...,...,...,...,...,...,...,...
246,Shillong,2020-06-27,9.41,9.77,1.16,2.93,0.16,4.76,24.97,35.0,Good
247,Shillong,2020-06-28,13.55,20.53,1.25,3.17,0.17,5.00,34.91,53.0,Satisfactory
248,Shillong,2020-06-29,9.53,13.40,1.22,3.14,0.18,5.33,10.85,26.0,Good
249,Shillong,2020-06-30,14.74,20.80,1.12,2.96,0.20,5.05,6.20,21.0,Good
250,Shillong,2020-07-01,16.70,29.40,1.04,2.66,0.10,4.29,17.71,24.0,Good